body {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	color: white;
}

table,th
{
width:100%; 
}

* {
    box-sizing: border-box;
}



form.searchbar button:hover {
    background: #0b7dda;
}

form.searchbar::after {
    content: "";
    clear: both;
    display: table;
}
form.getdownload input[type=submit]:hover {
	font-family: "Courier New", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", "monospace";
	 font-size: 24px;
	 font-style: normal;
	 font-variant: normal;
	 font-weight: 500;
	 line-height: 26.4px;
	 color: white;
     cursor:pointer;
	 text-align:left;
}
form.getdownload input[type=submit]:hover {
    text-decoration:underline;
}
