<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="https://cdn3.iconfinder.com/data/icons/food-drink/512/Coffee_B-512.png"/>
<title>Coffee and Music</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body bgcolor = "#6f4e37" class="centered-wrapper">
</br>
</br>
</br>
</br>
</br>
</br>
<h2 align = "center"><font color="white">Youtube  To  MP3  With  COFFEE</h2>
<form class = "searchbar" action="/result" method="post" style="margin:auto;max-width:500px">
  <input type="text"  name="search" id="search" placeholder = "Put some words or youtube url..">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
</body>
<footer>
<p class="copyright" align = "center"><font color="white">Copyright © {{year}} with <i class="fa fa-heart"></i> by Bohemian Guy! Follow him on <a href="https://chomottachcoffee.wordpress.com" target="_blank">Bohemian Guy</a></p>
</footer>
</html> 
