<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="/static/images/hoangicon.png"/>
<title>Coffee Youtube</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body bgcolor = "#6f4e37" class="centered-wrapper" width = "device-width">
<script src="/static/js/fun.js">
<h2 align = "center"><font color="white">Youtube  To  MP3  With  Coffee  and  Bohemian Guy</h2>
<form class = "searchbar" action="/result" method="post" style="margin:auto;max-width:500px">
  <input type="text"  name="search" id="search" list="languageList" placeholder = "Put some words or youtube url..">
  <datalist id="languageList">
<option value="HTML" />
<option value="CSS" />
<option value="JavaScript" />
<option value="SQL" />
<option value="PHP" />
<option value="jQuery" />
<option value="Bootstrap" />
<option value="Angular" />
<option value="ASP.NET" />
<option value="XML" />
</datalist>
  
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
<div class="text-center" align = "center" > <i class="fa fa-youtube"></i>   G e t F o r F u n </div>

<p class="example" align = "center"><font color="white">Let try <a href="https://www.youtube.com/watch?v=32sYGCOYJUM" style = "color:white">CHẠY NGAY ĐI</a> or <a href="https://www.youtube.com/watch?v=32sYGCOYJUM" style = "color:white">https://www.youtube.com/watch?v=32sYGCOYJUM</a></p>
<p align = "center" style =" margin:auto; max-width:500px" ><img class = "sample" src="/static/images/hoangindex.gif" alt="Chay ngay di"></p>
</script>
</body>
<footer>
<p align = "center" style =" margin:auto; max-width:500px">
<audio controls autoplay loop width="100%" height="60" scrolling="no">
  <source src="/static/bgmusic/emme.mp3" type="audio/mpeg">
 </audio>
   </p>
<p class="copyright" align = "center"><font color="white">Copyright © {{year}} with <i class="fa fa-heart"></i> by Bohemian Guy! Follow him on <a href="https://chomottachcoffee.wordpress.com" target="_blank" style = "color:white">Bohemian Guy</a></p>
</footer>
</html> 
